
<div align="center"> 
<br/><br/><br/>
<h1>Login Account</h1>
<hr/>

<label>Email</label><br>
<input type="text" [(ngModel)]="account.email">
<br>
<label>Password</label><br>
<input type="password" [(ngModel)]="account.password"  >


<br>
<br>
<input type="button" (click)="doLoginAccount()" value="Accedi" class="btn btn-outline-success">

<hr/>
<br>
<a routerLink="/cambia-password">Hai dimenticato la password</a>
<br>
<a routerLink="/registrazione-account">Registrati</a>

<div *ngIf="payment.email!=null">
<br/>
<a routerLink="/transazione-esterna">Esegui una transazione Esterna</a>
</div>

</div>




