

<div align="center">
    <br/> <br/> 




   <h1>Registrazione</h1>
		<hr/>
<p>RICORDARSI
-EMAIL DEVE CONTENERE UNA @,DEVE FINIRE CON .it o .com , non deve contenere spazi
-password deve contenere 2 numeri e non mi ricordo se deve contenere una lettera maiuscola
-tutti i campi sono obbligatori e hanno un massimo di lunghezza 20 e minimo di 1 </p>
			<label>Nome: </label>
			<input type="text" name="name"  placeholder="Mario" [(ngModel)]="accountRegistrato.name" />
			<br />
			<br />
			<label>Cognome: </label>
			<input type="text"  name="surname" placeholder="Rossi" [(ngModel)]="accountRegistrato.surname" />
			<br />
			<br />
			<label>Email: </label>
			<input type="email" name="email" placeholder="Example@email.it" [(ngModel)]="accountRegistrato.email"/>
			<br />
			<br />
			<label>Password: </label>
			<input type="password" name="password" [(ngModel)]="accountRegistrato.password"/>
			
			<br />
			<br />
			<input type="reset" value="Reset" class="btn btn-outline-success">
			<input type="button" (click)="submitAccount()" value="Registrati">
            <hr/>
            
            <h4>Sei registrato?</h4> <a routerLink="/login-account">Accedi</a>


	</div>

	