 <div>
	<table>
		<thead>
			<th> Amount </th>
			<th> Email </th>
			<th> Codice Personale </th>
			<th> Numero Transazione </th>
		</thead>
		<tbody>
			
			<tr>
				<td>{{payment.amount}}</td>
				<td>{{payment.email}}</td>
				<td>{{payment.customCode}}</td>
				<td>{{payment.transaction_id}}</td>
				<button type="submit" (click)="pay()">Paga Ordine</button>
			</tr>
		</tbody>
	</table>
</div>


	<form #payment id="payment" method="post" action="{{payment.urlNotify}}">
		<input type="hidden" name="email">
		<input type="hidden" name="amount">
		<input type="hidden" name="transactionId">
		<input type="hidden" name="customCode">
		<input type="hidden" name="urlSuccess">
		<input type="hidden" name="urlUnDo">
		<input type="hidden" name="urlNotify">
	</form>