<br>
<br>
<br>
<div align="center">
	<div>

		<table>

			<thead>
				<th> Amount </th>
				<th> Email </th>
				<th> Codice Personale </th>
				<th> Numero Transazione </th>
			</thead>
			<tbody>

				<tr>
					<td>{{payment.amount}}</td>
					<td>{{payment.email}}</td>
					<td>{{payment.customCode}}</td>
					<td>{{payment.transactionId}}</td>


				</tr>
			</tbody>
		</table>
		<br>
		<button class="button" type="submit" (click)="pay()">Paga Ordine</button><br>
		<br>
		<button class="button" (click)="undo()">Annulla</button><br>
	</div>


	<form #paymentForm id="paymentForm" method="post" action="{{payment.urlNotify}}">
		<input type="hidden" name="email">
		<input type="hidden" name="amount">
		<input type="hidden" name="transactionId">
		<input type="hidden" name="customCode">
		<input type="hidden" name="urlSuccess">
		<input type="hidden" name="urlUnDo">
		<input type="hidden" name="urlNotify">
	</form>

</div>