.testo{
  border: 2px solid #5a99ee;
  border-radius: 4px;
}

p{
	font-family: rockwell;
	font-size: 35px;
	color: #3D59AB;
}

label{
	font-family: rockwell;
	color: #110066;
}

.button{
	font-size: 16px;
	border-radius: 4px;
	transition-duration: 0.4s;
	background-color: #3D59AB;
	color: white;
	font-family: rockwell;
	border: 2px solid #3D59AB;
	
}

.button:hover{
	background-color: white;
	color: #3D59AB;
	border: 2px solid #3D59AB;
}