<br>
<br>
<br>
<label>Email</label><br>
<input type="text" [(ngModel)]="staff.email">
<br>
<label>Password</label><br>
<input type="text" [(ngModel)]="staff.password"  >

<div *ngIf="loginOtp">
<script>prompt("Per favore inserisci il tuo codice OTP:")</script>
</div>
<!-- <script>$.ajax({url: "Servlet?op=controllariunione", success: function(result){
// 	alert(result);

if (result=="1" && window.confirm("Clicca ok per accedere alla riunione")) 
{
window.location.href="${utente.comunicazione_riunione.url}";
};
   
  }});</script> -->

<br>
<br>
<input type="button" (click)="doLogin()" value="Entra" >
<br>