

<div *ngIf="!(account==null)">
  <div class="container-fluid" id="container">
    <div class="navbar-header" id="navbar-header">
      <p class="navbar-brand" id="titolo"><i>MyBank </i></p>
    </div>
    <ul class="nav navbar-nav">
      <div id="row"> 
        <li class="active"><a id="home" routerLink="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><a routerLink="/Inf-personali-account"><span class="glyphicon glyphicon-user"></span> Profilo</a></li>
        <li><a  (click)="findHelpCenter()" href="javascript:void(0);"><span class="glyphicon glyphicon-comment"></span> HelpCenter</a></li>
        <li><a routerLink="/list-faq"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a></li>
      </div>
    </ul> 

    <ul class="nav navbar-nav navbar-right">
      <li><a id="logout" (click)="logout()" href="javascript:void(0);" ><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</div>

<div *ngIf="account==null">
</div>