<div *ngIf="!(account==null)">
  <div class="container-fluid" id="container">
    <div class="navbar-header" id="navbar-header">
      <p class="navbar-brand" id="titolo"><i>MyBank </i></p>
    </div>
    <ul class="nav navbar-nav">
      <div id="row"> 
        <li class="active"><a id="home" routerLink="/home">Home</a></li>
        <li><a routerLink="/Inf-personali-account">Profilo</a></li>
        <li><a (click)="findHelpCenter()" href="javascript:void(0);">HelpCenter</a></li>
        <li><a routerLink="/list-faq">FAQ</a></li>
      </div>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a id="logout" (click)="logout()" href="javascript:void(0);" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</div>

<div *ngIf="account==null">
</div>