<div align="center">
<fieldset>
<legend>
	  Informazioni Personali :
  </legend>
<br>
Nome:
{{account.name}}
<br>
Cognome:
{{account.surname}}
<br>
Email:
{{account.email}}
<br>
Password:
{{account.password}}
<br>
Data Registrazione:
{{account.createdAt}}
<br>
Ultimo Accesso:
{{account.updateAt}}
<br>
Iban:
{{account.iban}}
<br>
Saldo Disponibile:
{{account.balance}}
<br>
Numero Carta Di Credito:
{{account.creditCardNo}}
<br>
Cin:
{{account.creditCardCin}}
<br>
Data Scadenza Carta Di credito:
{{account.creditCardExpiresAt}}

</fieldset>
</div>
