<div align="center">
<br>
 <br>
 <br>
<label>Name</label>
<br>
<input type="text" [(ngModel)]="accountRegistrato.name">
<br>
<label>Surname</label>
<br>
<input type="text" [(ngModel)]="accountRegistrato.surname"  >
<br>
<label>Email</label>
<br>
<input type="text" [(ngModel)]="accountRegistrato.email">
<br>
<label> Inserisci nuova Password</label><br>
<input type="password" [(ngModel)]="accountRegistrato.password"  >
<br>
<input type = "button"(click)="cambiaPassword()" value="Cambia Password">
</div>